/* NavBar CSS */
button {
  width: 200px;
  height: 123px;
  padding: 10px 10px;
  border-radius: 3px;

  font-size: large;
}

/* Body CSS */
:root {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  /* margin: 0; */
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  /* font-size: 3em; */
}


/* Footer CSS */